html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*END CSS RESET */


@font-face {font-family: hindBold;src: url(../fonts/Hind-Bold.ttf);}
@font-face {font-family: hindLight;src: url(../fonts/Hind-Light.ttf);}
@font-face {font-family: hindMedium;src: url(../fonts/Hind-Medium.ttf);}
@font-face {font-family: hindRegular;src: url(../fonts/Hind-Regular.ttf);}
@font-face {font-family: hindSemiBold;src: url(../fonts/Hind-Semibold.ttf);}
@font-face {font-family: montserratBold;src: url(../fonts/Montserrat-Bold.ttf);}
@font-face {font-family: montserratRegular;src: url(../fonts/Montserrat-Regular.ttf);}
@font-face {font-family: gudeaBold;src: url(../fonts/Gudea-Bold.ttf);}
@font-face {font-family: gudeaItalic;src: url(../fonts/Gudea-Italic.ttf);}
@font-face {font-family: gudeaRegular;src: url(../fonts/Gudea-Regular.ttf);}

/*style*/

#banner{
    background: url(../img/banner.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
    min-height: 100vh;
    padding: 200px 0px 10px 0px;
}

#banner h1{
    font-family: montserratBold;
    font-size:468.75%;
    color: #ffffff;
    border-bottom: 2px dotted #df6d19;
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
#banner p{
    font-size: 187.5%;
    color:#ffffff;
    font-family: hindLight;
    margin-bottom: 50px;
}

#banner h2{
    color: #df6d19;
    font-size: 200%;
    font-family: montserratRegular;
    text-align: center;
    margin-bottom: 50px;
}
#banner input{
    height: 50px;
}
#search-header input{
    height: 40px;
}
#search-header input[type='text'],#search-header input[type='submit']{
    font-size: 125%;
}
#banner input[type='text']{
    color:#ffffff;
    background: rgba(0,0,0,0);
    font-size: 156.25%;
}
#banner input[type='text'],#search-header input[type='text']{
    border: 1px solid #df6d19;
    border-radius: 0px;
    font-family: hindLight;
}
#banner input[type='submit']{
    font-size: 156.25%;
}
#banner input[type='submit'],#search-header input[type='submit']{
    background: #df6d19;
    border:none;
    border-radius: 0px;
    color:#ffffff;
    font-family: hindRegular;
}
#search-header{
    padding: 20px 0;
    background: #f3f2f2;
}
.search-label p{
    color:#6c635c;
    font-family: hindLight;
    font-size:112.50%;
}
.search-label{
    padding: 10px 0px;
    margin-bottom: 40px;
}
.search-label p span{
    color: #df6d19;
    font-size:140%;
    font-family: hindBold;
    font-style: italic;
    border-bottom: 1px dotted #df6d19;
}
.search-content .food-header{
    font-family: montserratBold;
    color: #333333;
    text-transform: uppercase;
    font-size: 150%;
    border-bottom: 2px dotted #df6d19;
    padding-bottom: 15px;
}
.search-content .food-description{
    font-size: 112.5%;
    font-family: hindLight;
    color:#7a7676;
    line-height: 24px;
    margin-top: 20px;    
}
.search-content .food-button:hover{
    background: #df6d19;
    color:#ffffff;
    border: 1px solid transparent;   
    text-decoration: none;
    transition: .3s all ease-in;
    
}
.search-content .food-button{
    background: #ffffff;
    color: #333333;
    font-family: montserratBold;
    padding: 15px;
    display: inline-block;
    border: 1px solid #333333;
    margin-top: 25px;
}
.search-content .row{
    margin-top:30px;
}
.pagination{
    border-top: 1px dotted #df6d19;
    text-align: center;
    padding: 10px 0;
}
.pagination a{
    font-family: montserratRegular;
    font-size: 112.5%;
    border: 1px;
    border-style: solid;
    padding: 15px;
    margin-right: 15px;
    display: inline-block;
}
.pagination a{
    color:#333333;
}
.pagination a.active-page{
    color:#ffffff;
    background: #df6d19;
}
.pagination a.previous, .pagination a.next{
    color:#df6d19;
    background: #ffff;
    border-color: #df6d19;
    border-radius: 5px;
}